<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
  }

  footer {
    text-align: center;
    padding: 15px;
    background-color: #002147;
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
</style>

<footer id="contact">
  <p>&copy; 2024 Indian Air Force Facility Management Department. All rights reserved.</p>
</footer>