<% layout('layouts/boilerplate') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - Categories List</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font-family: 'Montserrat', sans-serif;
                line-height: 1.6;
                color: #333;
                background-color: #f5f5f5;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: 700;
            }

            .container {
                width: 100%;
                max-width: 100%;
                padding: 35px;
                margin: auto;
                overflow-x: auto;
                text-align: center;
            }

            h1 {
                font-size: 36px;
                margin-bottom: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                border-radius: 50px;
                overflow: hidden;
                margin: auto;
                background-color: #fff;
            }

            th,
            td {
                padding: 12px;
                text-align: center;
                border-bottom: 1px solid #ddd;
                font-size: 16px;
            }

            th {
                background-color: #f5f5f5;
                color: #333;
            }

            a {
                text-decoration: none;
                color: #007bff;
                transition: color 0.3s;
            }

            .btn-view {
                background-color: #28a745;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                text-decoration: none;
            }

            .btn-view:hover {
                background-color: #218838;
            }

            .btn-delete {
                background-color: #dc3545;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                margin-left: 10px;
            }

            .btn-delete:hover {
                background-color: #c82333;
            }

            .no-categories {
                font-style: italic;
                color: #999;
            }

            @media (max-width: 1050px) {
                h1 {
                    font-size: 28px;
                }

                .btn-view,
                .btn-delete {
                    margin: 5px 0;
                }

                th,
                td {
                    font-size: 14px;
                    padding: 8px;
                }
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Categories</h1>
            <% if (categories.length===0) { %>
                <p class="no-categories">No categories to display.</p>
                <% } else { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>

                                <th>Custodian Rank</th>
                                <th>Custodian Name</th>
                                <% if (currentUser.card!==-2) { %>
                                    <th>View Category</th>
                                    <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach(category=> { %>
                                <tr>
                                    <td>
                                        <%= category.name %>
                                    </td>
                                    <td>
                                        <% if (category.custodian) { %>
                                            <%= category.custodian.rank %>
                                                <% } else { %>
                                                    N/A
                                                    <% } %>
                                    </td>
                                    <td>
                                        <% if (category.custodian) { %>
                                            <%= category.custodian.name %>
                                                <% } else { %>
                                                    None
                                                    <% } %>
                                    </td>
                                    <% if (currentUser.card!==-2) { %>
                                        <td>
                                            <a href="/admin/category/<%= category._id %>" class="btn-view">View</a>
                                        </td>
                                        <% } %>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
        </div><br><br>
    </body>

    </html>